# Dependencies
/vendor/
/node_modules/

# Logs
npm-debug.log*
yarn-error.log*
*.log

# Laravel core
.env
.env.backup
.env.production

# Laravel storage
/storage/*.key
/storage/app/public
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*

# Cache / system
bootstrap/cache/*
!bootstrap/cache/.gitignore

# PHPUnit
.phpunit.result.cache

# IDE / OS
.idea/
.vscode/
.DS_Store

# SSL certificates and Credentials
*.pem
*.crt
docker_docs.md
